<div class='dropdown'>
  <div class="dropdown-content hide-mobile" [ngClass]="{'dropdown-expanded': expanded}">
    <div class="apps group">
      <h1>Développement d’applications</h1>
      <a href="/app-java.html">
        <img src="../../../../assets/images/app-java-blue.svg" alt="">
        <span>Développement d’applications Java</span>
      </a>
      <a href="/app-nav.html">
        <img src="../../../../assets/images/app-web.svg" alt="">
        <span>Développement d’applications pour navigateurs Web</span>
      </a>
      <a href="/app-mobile.html">
        <img src="../../../../assets/images/app-mob.svg" alt="">
        <span>Développement d’applications mobiles</span>
      </a>
      <a href="/support.html">
        <img src="../../../../assets/images/app-maintenance.svg" alt="">
        <span>Maintenance d’applications et support</span>
      </a>
    </div>

    <div class="api group">
      <h1>Développement d’APIs</h1>
      <a href="/web-api.html">
        <img src="../../../../assets/images/app-api.svg" alt="">
        <span>Développement d’APIs WEB</span>
      </a>
    </div>

    <div class="ui group">
      <h1>Conception d’interfaces graphiques</h1>
      <a href="/ui.html">
        <img src="../../../../assets/images/ui-dev.svg" alt="">
        <span>Conception de prototypes d’interfaces graphiques</span>
      </a>
    </div>
  </div>
</div>